<tr>
    <td>#</td>
    <td><%= link_to(movie_group.title, movie_group_path(movie_group)) %></td>
    <td><%= render_movie_group_description(movie_group) %></td>
    <td> <%= movie_group.user.email %> </td>
    <td>
        <% if current_user && current_user == movie_group.user %>
          <%= link_to("编辑", edit_movie_group_path(movie_group), class: "btn btn-sm btn-default")%>
          <%= link_to("删除", movie_group_path(movie_group),    class: "btn btn-sm btn-default",
                    method: :delete, data: { confirm: "确定要删除?" } )%>
        <% end %>
    </td>
</tr>
